body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('images/DALL·E\ 2023-11-29\ 13.18.48\ -\ An\ abstract\,\ dark-themed\ background\ suitable\ for\ a\ website\ related\ to\ calculating\ a\ maximum\ repetition\ for\ a\ weightlifting\ exercise.\ The\ image\ should\ .png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ddd;
}

.container {
    text-align: center;
    padding: 20px;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    height: 500px;
    width: 250px;
}

input[type=number] {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

h1{
    color: #ddd;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 768px) {
    .container {
        width: 100%; /* Pleine largeur sur les petits écrans */
    }
}
    